<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Henrik Sjökvist</string>
	<key>CFBundleDisplayName</key>
	<string>Safari960</string>
	<key>CFBundleIdentifier</key>
	<string>net.henriksjokvist.safari.safari960</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggle_grid</string>
				<key>Identifier</key>
				<string>ToggleGridItem</string>
				<key>Title</key>
				<string>Toggle Grid</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>grid_settings</string>
				<key>Identifier</key>
				<string>GridSettings</string>
				<key>Title</key>
				<string>Grid Settings</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>safari960.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggle_grid</string>
				<key>Identifier</key>
				<string>ToggleGridItem</string>
				<key>Image</key>
				<string>images/btnSafari960.png</string>
				<key>Label</key>
				<string>Toggle Grid</string>
				<key>Palette Label</key>
				<string>Toggle Grid</string>
				<key>Tool Tip</key>
				<string>Toggle Grid On/Off</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>safari960.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>safari960.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Allows you to overlay a site with a 960.gs grid</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://henriksjokvist.net/extensions.plist</string>
	<key>Website</key>
	<string>http://henriksjokvist.net</string>
</dict>
</plist>
